@import url('https://fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700,700i&subset=cyrillic');


body
{
	display:flex;
	justify-content:space-beetwen;
	width:100%;
}

h1
{
	text-decoration:none;	
}	




