@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');

$font-logo:"Grand Hotel",cursive;
$main-font: Arial,sans-serif;
$main-color:#ffffff;
$shadow-logo:#03546b;
$link-color:#999999;


/*reset*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,body,ul,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}

body
{
	font-family:$main-font;
	color:$main-color;
}
.clearfix::before,.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
a
{
	text-decoration: none;
}


ul
{
	list-style-type: none;
}


.wrapper
{
	max-width: 970px;
	margin:0 auto;
}
.header-bg
{
	width: 100%;
	height: 460px;
	background-image: linear-gradient(to top, #009ec3 0%, #00b7ea 100%);
}
.header
{
	display:flex;
	justify-content:space-between;
	margin-bottom: 3%;

	&-logo
	{
		background-image: url("img/logo.png");
	   width: 280px;
	   height: 103px;
	   text-align: center;
	   line-height: 80px; 
	    
	  ::after,::before
		{
			display: inline-block;
			content: '\25cf\25cf';
			color: $main-color;
			margin-left: 2.5%;
			font-size: 20px;
			vertical-align: middle;
			text-shadow: none;
		}

		a
		{
	   font-family: $font-logo;
	   font-size:3rem;
	   margin: auto;
	   color: $main-color;
		 display: block;
		 text-shadow:0 -2px 0 $shadow-logo,0 -2px 0 $shadow-logo,0 2px 0 $shadow-logo,0 2px 0 $shadow-logo,-2px -0 0 $shadow-logo,
		 								2px -0 0 $shadow-logo,-2px 0 0 $shadow-logo,2px 0 0 $shadow-logo,-1px -2px 0 $shadow-logo,1px -2px 0  $shadow-logo,
		 								-1px 2px 0 $shadow-logo,1px 2px 0 $shadow-logo,-2px -1px 0 $shadow-logo,2px -1px 0 $shadow-logo,-2px 1px 0 $shadow-logo,
										2px  1px 0 $shadow-logo,-2px -2px 0 $shadow-logo,2px -2px 0 $shadow-logo,-2px 2px 0 $shadow-logo,2px 2px 0  $shadow-logo,
										-2px -2px 0 $shadow-logo,2px -2px 0 $shadow-logo,-2px 2px 0 $shadow-logo,2px 2px 0 $shadow-logo;
					
		}
	}

	&-feedback
	{
		width: 170px;
		height: 46px;
		box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.75),black -1px 3px 10px ;
		border-radius: 5px;
		border: 1px solid #040404;
		background-color: #020202;
		background-image: linear-gradient(to top, #333434 0%, #080808 100%);
		line-height: 46px;
		text-align: center;
				
			::after
			{
				display: inline-block;
				content: '\25ba';
				color: #00b4e5;
				margin-left: 14.5%;
				font-size: 12px;
				vertical-align: middle;
			}
				
			a
			{
				font-size:1.375rem;
				color: $main-color;
			   display: block;
			}
	}

}

.header-bg::after
{
	content:'';
	width: 100%;
	height: 7px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
	background-color: #020202;
	display: block;
	position: absolute;
	top:0;
}


.navi
{
	background-image: url("img/bar.png");
	width: 100%;
	height: 43px;
	box-shadow: black 0 2px 2px;
	display:flex;
	justify-content: space-between;
	padding: 0 14px;
	margin:25px 0;
	flex-wrap:wrap;
		
	&-menu
	{
		display:flex;
				
		&__item 
		{
			border-right: 1px solid $link-color;
			margin: auto;

			& a
			{
				color: $link-color;
				font-size:1rem; 
				display: block;
				margin: 0 2px;
				& span
				{
					margin: 5px 12px;
					display: inline-block;
				}
			}
			& a:hover
			{
				background-image:url("img/button-highlight.png");
				background-size: 100% 100%;
				background-repeat: no-repeat;
				color: $main-color;
			}
		}
	}

	&-search
	{
		margin: auto 0;
		position: relative;

		&__input
		{
			width: 179px;
			height: 26px;
			background-color: #636262;
			color: $main-color;
			border: none;
			border-radius: 5px;
		}

		&__button
		{
			width: 44px;
			height: 34px;
			background-image:url("img/vector-search.png");
			border: none;
			border-radius: 3px;
			position:absolute;
			top:-4px;
			right:15px;
			padding: 0;
			cursor: pointer;
		}
	}
}			

.single-item 
{
	max-width:926px;
	width:100%;
	height:383px;
	margin:0 auto;
	
	
	&-bg
	{	
		width: 1022px;
		max-width: 100%;
    height: 436px;
    background-image: url(img/slider-bg.png);
    padding-top: 23px;
    margin: 0 auto;
    position: relative;
	}

	&-dots-bg
	{
		background: url(img/dots-bg.png) no-repeat;
		width: 280px;
		max-width: 100%;
    height: 50px;
    position: absolute;
    bottom:30px;
    right:47px;
	}
}


