@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700');

.wrapper
{
	font-family: "Century Gothic",monospace;
	max-width: 1663px;
	background-color: #f6f6f6;
	margin:15px;
	padding-top: 22px;

}
.header
{
	max-width: 1394px;
	display: flex;
	justify-content: space-between;
}
.header-nav
{
	width: 50%;
	display: flex;
	justify-content: space-between;
}
.header-nav__menu
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.header-nav__item
{
	margin: auto;
	color: #000000;
	font:bold 16px/32px 'Source Code Pro', monospace;
}
.header-nav__item:hover
{
	background-color:#ffea00; 
}
.mod-margin
{
	margin:0 auto 22px ;
}



.slider
{
	width: 100%;
	height: 700px;
	background-image: url(../img/slider-bg.png);
	background-size:cover;
	background-position: center;
	position: relative;
	padding-top: 22px;
}

.slider >div
{
	width: 85%;
	height: 600px;
	margin:0 auto;
	
}
.slider-item__title
{
	color: #000000;
	font-size: 70px;
	font-weight: bold;
	line-height: 85px;
	text-transform: uppercase;
	background-color:#ffeb00;
	display: inline;
}
.slider-item__text
{
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	line-height: 33px;
	background-color:#3f3f44;
	display: inline;
}
.slider-item-wrapper
{
	margin-top: 101px;
	max-width: 50%;
	position: relative;
}

.slider-item__link
{
	max-width: 191px;
	max-height: 40px;
	background-color: #000000;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	line-height: 38px;
	padding: 1px 29px;
	display:block;
	position: absolute;
	bottom:-100px;
	right:170px;
}

.slider-item__link:hover
{
	border-bottom: 3px solid #ffea00;
	opacity: 0.9;
}
.slider-item-photo
{
	width: 720px;
	position: absolute;
	top:0;
	right:60px;
}
.slider-item-photo-row__img
{
	float: left;
	width: 25%;

}

.mod-position
{
	position: relative;
	top:0; 
	left:180px;
}

.slider-item-photo-row
{
	height:151px;
}

.main-title
{
	width:50%;
	margin:90px auto 60px;
	
	text-align: center;
}

.main-title__title
{
	color: #424147;
	font-size: 35px;
	font-weight: bold;
	line-height: 21px;
	text-transform: uppercase;
	margin-bottom: 27px;
}

.main-title__text
{
	color: #424147;
	font-size:24px;
	font-weight:bold;
	line-height:21px;
	margin-bottom:60px;
}

.main-content
{
	display: inline-block;
	position: relative;
}

.main-content-link__img
{
	display:block;
}



.main-content-link__text
{
	color: #ffffff;
	font: 20px/23px 'Source Code Pro', monospace;
	position: absolute;
	bottom:27px;
	left:17px;
	text-transform: uppercase;

}

.main-content-link__smalltext
{
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	line-height: 17px;
	position: absolute;
	bottom:8px;
	right:84px;
}

.mod-color
{
	color:#ffea00;
	right:24px;
}

.main-content-hidden-img
{
	width: 250px;
	height: 200px;
	background-image: url(../img/bgyellow.png);
	position: absolute;
	top:0;
	text-align: center;
	
}

.main-content-hidden-imgdown
{
	width: 250px;
	height: 85px;
	background-image: url(../img/grey-bg.png);
	position: absolute;
	bottom:0;
}
.main-content-hidden-img__icon
{
	margin-top:40px;
	margin-bottom:20px;
}

.main-content-hidden-img__text
{
	color: #000000;
	font: 20px/20px 'Source Code Pro', monospace;
	display:block;
	text-transform: uppercase;
}
.main-content-hidden-imgdown
{
	text-align: center;
	padding: 27px 0;
}

.main-content-hidden-imgdown__text
{
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	line-height: 17px;
}

.main-content-hidden:hover
{
	opacity:0;
}
.main-content-wrapper
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 90px;
}
.main-title-block
{
	text-align: center;
	position: relative;
}

.main-title-block__head
{
	width:160px;
	height:30px; 
	background-image: url(../img/bg-our.png);
	color: #ffea00;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	padding: 5px 25px;
	margin-bottom: 33px;
	display:inline-block;
}

.main-title-block__head::after
{
	content:" ";
	width: 704px;
	height: 1px;
	background-color: #cacaca;
	display:inline-block;
	position: absolute;
	top:15px;
	left:0; 
}
.main-title-block__head::before
{
	content:" ";
	width: 704px;
	height: 1px;
	background-color: #cacaca;
	display:inline-block;
	position: absolute;
	top:15px;
	right:0; 
}
.main-galeryphoto-wrapper
{
	font-size:0;
	margin: 42px auto 90px;
	width: 99%;
	text-align: center;
}
.main-galeryphoto
{
	display:inline-block;
	vertical-align: top;
}
.main-galeryphoto__img
{
	vertical-align: top;
	margin:0 5px 5px 0;
	
}
.mod-size-top
{
	max-width:65.1%;
}	


.mod-size-middle
{
	width: 16.2%;
	margin-right: 5px;
}

.mod-size-bottom
{
	width: 16.5%;
}

.mod_50
{
	width: 49.5%;

}

.mod_25
{
	max-width: 24.5%;
}

.filtering__img
{
	margin: 0 40px 0 0;
}

.mod-slider-client
{
	margin: 40px 100px 120px 100px ;
}

.footer
{
	width:100%;
	height:auto;
	background-color:#414146;
	padding: 30px 0;
}

.footer-content
{
	width: 85.36%;
	margin:0 auto;
	background-color: #414146;
	display:flex;
	justify-content: space-between;
}
.footer-section
{
	width: 30.5%;
}
.footer-section
{
	display: inline-block;
}

.footer-section__title
{
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 30px;
	margin-right: 9px;
	vertical-align: middle;
}

.footer-section__text
{
	color: #ffffff;
	font-size: 13px;
	line-height: 21px;
	margin-bottom: 45px;
}
.mod-display
{
	display: inline-block;

}

.footer-section-imglink
{
	font-size: 0;
}
.footer-section__link
{
	max-width: 121px;
	max-height: 37px;
	background-color: #000000;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	line-height: 15px;
	padding: 11px 18px;
	margin-bottom:45px;
	display:block;
}

.footer-section__link:hover
{
	border-bottom: 3px solid #ffea00;
	opacity: 0.9;
}

.footer-section-stream-img
{
	display: inline-block;
	width: 32%;
}
.footer-section-stream
{
	font-size: 0;
}

.footer-section-stream-img img:nth-child(1)
{
	display: block;
	margin-bottom: 5px;
}

.footer-section-item li
{
	background:url(../img/twitter-birs-icon.png) no-repeat center left;
	padding-left: 40px;
	font-size: 13px;
	line-height: 21px;
	color: #ffffff;
	margin-bottom: 15px;
}

.footer-section-item__text
{
	color: #ffea00;
}

.footer-section-item__textsmall
{
	color: #ffea00;
	font-size: 8px;
	line-height: 21px;
}
.footer-section-imglink
{
	display: inline-block;
	margin-top: 25px;
}


.footer-section-imglink img
{
	margin-right: 1px;
}

.mod-bg-address
{
	background:url(../img/adress.png) no-repeat center left;
	padding-left: 47px;
	margin-bottom: 20px;
}
.mod-bg-phone
{
	background:url(../img/phone.png) no-repeat center left;
	padding-left: 47px;
	margin-bottom: 25px;
}
.mod-bg-mail
{
	background:url(../img/email.png) no-repeat center left;
	padding-left: 47px;
	margin-bottom: 50px;
}
.footer-section-form__button
{
	width: 25px;
	height: 25px;
	background:url(../img/email-icon.png) no-repeat center center ;
	vertical-align: middle;
	margin-bottom: 130px;
}

.footer-section-form__input
{
	width: 52.72%;
	border:none;
	border-bottom: 2px solid #ffea00;
	margin-bottom: 130px;
	background-color:rgba(0, 0, 0, 0);
}

